*{
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  transition-property: opacity, visibility;
  transition-duration: 4s;
}

html {
  height: 100%;
}

body {
  height: 98.5%;
 
}

nav {display: block;}

nav ul {
  display: flex;
  justify-content: start;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 30px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: green;
}

/* CONTENT */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94.9%;
  width: 100%;
  background-color: green;
 background: url(./assets/bg.png);
 transition-property: none;
}

.paper {
  border-radius: 20px;
  padding: 30px;
  height: 80%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.808);
  overflow-y: auto;
  animation-name: fade;
  animation-duration: 3s; 
}

.container .paper p {
  color: red;
}

@keyframes fade {
  from {
    opacity: .2;
  }
  to {
    opacity: 1;
  }
}