*{
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  transition-property: opacity, visibility;
  transition-duration: 4s;
}

html {
  height: 100%;
}

body {
  height: 100vh;
 
}

nav {display: block;}

nav ul {
  display: flex;
  justify-content: start;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 30px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: green;
}

/* CONTENT */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94.9%;
  width: 100%;
  background-color: green;
 background: url(./assets/bg2.jpg);
 transition-property: none;
}

.paper {
  border-radius: 20px;
  padding: 20px 0px 30px 20px;
  height: 80%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.898);
  scrollbar-width: thin;
  scrollbar-color: orange;
  animation-name: fade;
  animation-duration: 3s; 
}

.inside {
  /* background-color: blue; */
  overflow-y: auto;
  height: 100%;
  padding-right: 20px;
  padding-bottom: 10px;
}

.container .paper p {
  color: red;
}

@keyframes fade {
  from {
    opacity: .2;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;

}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 107, 107, 0.5);
  border-radius: 20px;
  border: transparent;
}